/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
/* RESET CSS and general class*/
body, html {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
fieldset {
    background-color: white;
}
.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BUTTONS */
button {
    margin: 10px;
    background-color: black;
    color: white;
    border-color: red;
    padding: 5px 10px 5px 10px;
}
button:hover {
    border-color: black;
    background-color: white;
    color: black;
}
/* header */
header {
    margin: 0 auto;
    padding: 0;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    text-align: center;
    padding: 40px;
    margin: 0;
}
h2 {
    margin: 0;
    padding: 10px;
}
/* premiere section photo profile */
#one {
    padding: 80px;
}
#photoJoan {
    min-width: 300px;
    max-width: 450px;
    border: black 3px solid;
    border-radius: 50%;
}
/* deuxieme section sites pro */

/* troisieme section  compétences*/
.containerIcons {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    max-width: 500px;
}

/* quatrieme section  lien CV */
#four {
    height: 35vh;
}
/* FOOTER */
footer {
    margin-top: 50px;
    background-color: black;
}
/* PAGE 2 */
.description {
    flex-direction: column;
}
.description img {
    margin-top: 30px;
    width: 300px;
    border-radius: 50%;
}
#cv {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
}
#cv h2 {
    text-decoration: underline;
}
#cv article h3 {
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: column;
}
.langues {
    margin-top: 30px;
    border-top: 1px solid black;
}
.languages {
    display: flex;
}
.iconContainer .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    /* Position the tooltip */
    z-index: 1;
}
.tooltiptext {
    text-align: center;
}
.iconContainer:hover .tooltiptext {
    visibility: visible;
}
/* PAGE 1 & 2 FOR computer's screens */
@media only screen and (min-width: 768px) {
    #bigContainer {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    #containerOne {
        width: 60%;
    }
    #containerTwo {
        width: 25%;
    }
    form {
        width: 45%;
    }
    #forms {
        display: flex;
        justify-content: center;
    }
}