
/* RESET CSS */
body, html {
    margin: 0;
    padding: 0;
}

/* CLASS GENERAL  */
.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    margin: 0 auto;
    padding: 0;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
    padding: 40px;
    margin: 0;
}

/* premiere section */
#one {
    padding: 10px;
}
#photoJoan {
    width: 450px;
    border: 50%;
}
/* deuxieme section */
#two {
}

#two h2 {
   margin: 0;
   padding: 10px;
}

/* deuxieme section */
#two {
    padding: 10px;
}
#two .logos {
}
#two .logos a img {
    margin: 10px;
}
/* troisieme section */
#three {
}
#three h2 {
    margin: 0;
    padding: 10px;
}
#three img {
    margin: 10px;
}
/* quatrieme section */
#four {
    height: 35vh;
}
#four button {
    background-color: black;
    color: white;
    border-color: red;
    padding: 5px 10px 5px 10px;
}
#four button:hover {
    border-color: black;
    background-color: rgba(240, 240, 240, 0.5);
    color: black;
}


/* FOOTER */
footer {
    background-color: black;
}
footer img {
    background-color: white;
}
