.obstacle {
    color: black;
}

#lightFromOutside {
    background-color: rgba(250, 250, 250, 0.4);
    z-index: 1
}

#tableMirror {
    background-image: url("../images/obstacles/tableMirror.png");
    background-repeat: no-repeat;
    z-index: 3;
}

#purpleBed {
    background-image: url("../images/obstacles/purpleBed.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 1;
}

#home {
    background-image: url("../images/obstacles/home.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: bottom;
}

#masterHouse {
    background-image: url("../images/obstacles/masterHouse.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: bottom;
}

#burningHouse {
    background-image: url("../images/obstacles/burningHouse.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: bottom;
}


/* VILLAGE */
#villageGate {
    background-image: url("../images/obstacles/villageGate.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

#brownWall {
    background-image: url("../images/obstacles/brownWall.png");
    background-repeat: no-repeat;
    background-size: initial;
    z-index: 1;
    background-position: bottom;
}

#brickWall {
    background-image: url("../images/obstacles/brickWall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

#cityRoad {
    background-image: url("../images/obstacles/cityFloor2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

#cityFloorHolly {
    background-image: url("../images/floor-ground/cityFloorHolly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

#cityHall {
    background-image: url("../images/obstacles/cityHall.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: bottom;
}

#cityHall2 {
    /* SPAN 5 3 */
    background-image: url("../images/obstacles/cityHall2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

/* NORTH OF THE VILLAGE */
#dryGround {
    background-image: url("../images/floor-ground/dryGround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
}

#sign {
    background-image: url("../images/obstacles/sign.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: bottom;
}

/* TREES */
/* LEFT TREE */
#leftTreeFresh {
    background-image: url("../images/obstacles/trees/leftTreeFresh.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#leftTreeBlack {
    background-image: url("../images/obstacles/trees/leftTreeBlack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* BIG TREE */
#bigTreeFresh {
    background-image: url("../images/obstacles/trees/leftTreeFresh.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#bigTreeBlack {
    background-image: url("../images/obstacles/trees/bigTreeBlack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* PINE TREE */
#pineTreeFresh {
    background-image: url("../images/obstacles/trees/pineTreeFresh.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#pineTreeBlack {
    background-image: url("../images/obstacles/trees/pineTreeBlack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* PALM TREES */
#palmTreeFresh {
    background-image: url("../images/obstacles/trees/palmTreeFresh.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#palmTreeBlack {
    background-image: url("../images/obstacles/trees/palmTreeBlack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}


/* GRASS AND FLOWERS */

#grass {
    background-image: url("../images/floor-ground/grass.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#grassClose {
    background-image: url("../images/floor-ground/grassClose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#pinkFlowers {
    background-image: url("../images/floor-ground/pinkFlowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#redFlowers {
    background-image: url("../images/floor-ground/redFlowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#purpleFlowers {
    background-image: url("../images/floor-ground/purpleFlowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#yellowFlowers {
    background-image: url("../images/floor-ground/yellowFlowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}